p {
    /*same thing as above font family
    I prefer Helvetica*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;   /*this is the standard line height*/
}

body {
    background-color: lightgray;
}

button {
	background-color: #f6cdff; 
	border-width: 0; 
	color: black; 
  margin: 5px;
	height: 50px;
	width: 400px;
	font-family: "Open Sans", sans-serif;
  font-size: 28px;
  text-decoration: none;
}

img {
  width: 10%;
  height: 10%;
}

/* ----class section------------------------------------------------------- */

.box{
  background-color: lavender;
  width: 90%;
}

.btn-bar{
  align-content:center;
  margin: auto;
  text-align:center;
  padding: 10px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  align-self: right;
  content: "";
  clear: both;
  display: inline-block;
  margin: 0 auto;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.container{
    justify-content: center;
    border-width: 7px;
    display: flex;
    /* padding: 25px; */
    /*justify-content: center;*/
    margin-top: 1%;
}

.header {
  overflow: hidden;
  text-align: center;
  margin: auto;
	background: steelblue;
  font-size: 30px;
	padding: 1px;
  width: 85%;
}

.text-centered{
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
}

/* ----ID section ------------------------------------------------- */

/* this is useful */
/* but maybe not in this page*/
#main{
    /*border: 2px line;*/
    display: inline-flex;
    justify-content: space-between;
    margin: 0%;
    /*gap: 300px; /* a makeshift solution for now; leaves an ugly gap when shrinked */
}
